* {
    background-color: blueviolet;
    /* background-image: url("bcg-img.png"); */
    font-family: monospace;
    color: white;
}
.welcome-route {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
input {
    padding: 10px;
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.links-login {
    padding-top: 100px;
    font-weight: 10px;
}
.reset-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}

.logo-small {
    height: 150px;
    width: 150px;
    float: left;
}
#logout-button {
    float: right;
    height: 30px;
    width: 100px;
}
.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-top: -20px;
}
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-name {
    font-weight: 15px;
}

/* bio-editor*/
.bio-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textarea-bio {
    height: 200px;
    width: 200px;
    background-color: palevioletred;
}
.profile-pic {
    height: 350px;
    width: 350px;
    border: 2px solid burlywood;
}
.bio-button {
    float: right;
    height: 30px;
    width: 100px;
}
/*other-profile*/
.other-profile {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.other-foto {
    height: 200px;
    width: 200px;
}
.other-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.other-name {
    font-weight: 20px;
}
/*find-people*/
.find-container {
    /*prebaci u grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.user-id {
    padding-top: 100px;

    display: flex;
    flex-direction: column;
}

.find-foto {
    height: 250px;
    width: 250px;
    padding: 25px;
    border: 2px dotted palevioletred;
}

.friend-btn {
    float: right;
    height: 30px;
    width: 100px;
}

/*otherprofile*/
.other-profile {
    display: flex;
    flex-direction: column;
}
.other-foto {
    height: 200px;
    width: 200px;
}
/*chat*/
.chat-container {
    border: 2px solid violet;
    padding: 20px top;
}
.msg-container {
    display: flex;
    flex-direction: row;
}
.msg-user {
    font-style: italic;
}
.msg-text {
    border: 2px dotted violet;
    font-weight: 14px;
    padding: 10px top bottom;
}
.msg-date {
    font-style: italic;
}
.msg-textarea {
    height: 200px;
    width: 200px;
    background-color: palevioletred;
}
