* {
    background-color: blueviolet;
    /* background-image: url("bcg-img.png"); */
    font-family: monospace;
    color: white;
}
.welcome-route {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.input-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}
.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.links-login {
    padding-top: 100px;
    font-weight: 10px;
}
.reset-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}

.logo-small {
    height: 150px;
    width: 150px;
    float: left;
}
#logout-button {
    float: right;
    height: 30px;
    width: 100px;
}
.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin-top: -20px;
}
/* .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: -20px;
} */
.profile-pic {
    height: 350px;
    width: 350px;
    border: 2px solid burlywood;
}
.bio-button {
    float: right;
    height: 30px;
    width: 100px;
}
